.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-s);
  outline: none;
  padding: var(--spacing-s) var(--spacing-l);
  border: 1px solid var(--palette-gray);
  border-radius: var(--rounded-s);
  transition: var(--transition);

  &.icon-only {
    padding: var(--spacing-s);
  }
  &.no-border {
    border: none;

    &:hover {
      background-color: transparent;
    }
  }

  &:hover {
    background-color: var(--palette-gray);
  }

  & .icon {
    width: var(--icon-size);
    height: var(--icon-size);
    color: var(--palette-black);
  }
}
